<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzu.zym.common.dao.AttendanceMapper" >
  <resultMap id="BaseResultMap" type="zzu.zym.common.entity.Attendance" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="doctorid" property="doctorid" jdbcType="VARCHAR" />
    <result column="attendance" property="attendance" jdbcType="VARCHAR" />
    <result column="noattendance" property="noattendance" jdbcType="VARCHAR" />
    <result column="attendanceresults" property="attendanceresults" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, doctorid, attendance, noattendance, attendanceresults
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_attendance
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_attendance
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_attendance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="zzu.zym.common.entity.Attendance" >
    insert into t_attendance (id, doctorid, attendance, 
      noattendance, attendanceresults)
    values (#{id,jdbcType=VARCHAR}, #{doctorid,jdbcType=VARCHAR}, #{attendance,jdbcType=VARCHAR}, 
      #{noattendance,jdbcType=VARCHAR}, #{attendanceresults,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zzu.zym.common.entity.Attendance" >
    insert into t_attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doctorid != null" >
        doctorid,
      </if>
      <if test="attendance != null" >
        attendance,
      </if>
      <if test="noattendance != null" >
        noattendance,
      </if>
      <if test="attendanceresults != null" >
        attendanceresults,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="doctorid != null" >
        #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="attendance != null" >
        #{attendance,jdbcType=VARCHAR},
      </if>
      <if test="noattendance != null" >
        #{noattendance,jdbcType=VARCHAR},
      </if>
      <if test="attendanceresults != null" >
        #{attendanceresults,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zzu.zym.common.entity.Attendance" >
    update t_attendance
    <set >
      <if test="doctorid != null" >
        doctorid = #{doctorid,jdbcType=VARCHAR},
      </if>
      <if test="attendance != null" >
        attendance = #{attendance,jdbcType=VARCHAR},
      </if>
      <if test="noattendance != null" >
        noattendance = #{noattendance,jdbcType=VARCHAR},
      </if>
      <if test="attendanceresults != null" >
        attendanceresults = #{attendanceresults,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zzu.zym.common.entity.Attendance" >
    update t_attendance
    set doctorid = #{doctorid,jdbcType=VARCHAR},
      attendance = #{attendance,jdbcType=VARCHAR},
      noattendance = #{noattendance,jdbcType=VARCHAR},
      attendanceresults = #{attendanceresults,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>