<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzu.zym.common.dao.MenuSecondMapper" >
  <resultMap id="BaseResultMap" type="zzu.zym.common.entity.MenuSecond" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="menusecond" property="menusecond" jdbcType="VARCHAR" />
    <result column="menuFirstid" property="menufirstid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menusecond, menuFirstid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_menusecond
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_menusecond
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_menusecond
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="zzu.zym.common.entity.MenuSecond" >
    insert into t_menusecond (id, menusecond, menuFirstid
      )
    values (#{id,jdbcType=VARCHAR}, #{menusecond,jdbcType=VARCHAR}, #{menufirstid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zzu.zym.common.entity.MenuSecond" >
    insert into t_menusecond
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menusecond != null" >
        menusecond,
      </if>
      <if test="menufirstid != null" >
        menuFirstid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menusecond != null" >
        #{menusecond,jdbcType=VARCHAR},
      </if>
      <if test="menufirstid != null" >
        #{menufirstid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zzu.zym.common.entity.MenuSecond" >
    update t_menusecond
    <set >
      <if test="menusecond != null" >
        menusecond = #{menusecond,jdbcType=VARCHAR},
      </if>
      <if test="menufirstid != null" >
        menuFirstid = #{menufirstid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="zzu.zym.common.entity.MenuSecond" >
    update t_menusecond
    set menusecond = #{menusecond,jdbcType=VARCHAR},
      menuFirstid = #{menufirstid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>